server:
   port: 8074

spring:
   profiles:
     active: default
   application:
      name: atozmart-authserver
   config:
      import: 'optional:configserver:'
   datasource:
      url: jdbc:mysql://localhost:3306/atozmart_authserver_db
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: root
   jpa:
      database-platform: org.hibernate.dialect.MySQL8Dialect
      show-sql: true
      defer-datasource-initialization: false
      hibernate:
         ddl-auto: update
      properties:
         hibernate:
            format_sql: true
   sql:
      init:
         mode: never
   cloud:
      stream:
         bindings:
            sendEmail-out-0:
               destination: send-email-topic #queue
               group: atozmart
            registerNewUser-out-0:
               destination: register-new-user-topic #queue
               group: atozmart
   rabbitmq:
      host: localhost
      port: 5672
      username: guest
      connection-timeout: 10s
   cache:
     type: redis
   redis:
     host: localhost
     port: 6379
       
eureka:
   instance:
      prefer-ip-address: true
   client:
      fetch-registry: true
      register-with-eureka: true
      serviceUrl:
         defaultZone: http://localhost:8761/eureka

management:
   endpoints:
      web:
         exposure:
            include: '*'
   endpoint:
      shutdown:
         enabled: true
      health:
         probes:
            enabled: true
   health:
      readiness-state:
         enabled: true
      liveness-state:
         enabled: true
   info:
      env:
         enabled: true
   metrics:
      tags:
         application: ${spring.application.name}

# info properties to see info in eureka dashboard
info:
   app:
      name: atozmart-authserver
      description: AtoZ mart auth server
      version: 1.0.0

logging:
   level:
      com.netflix.discovery.DiscoveryClient: OFF
      com.atozmart.authserver: DEBUG
   
atozmart:
  base-url: http://localhost:3000
  pwd-reset-token-expiry: 1800 # 30 mins, in seconds
  jwt-token-expiry: 3600000 # 1 hr, in seconds
  email-verify-token-expiry: 1800 # 30 mins, in seconds
  cache-expiry: 360 # 6 mins, in seconds
  key-store-location: 
  key-store-pass:
  key-pass: 