name: Config Server CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'atozmart-configserver/**'

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        defaults:
            run:
              working-directory: ./configserver
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up JDK 21
              uses: actions/setup-java@v2
              with:
                java-version: '21'
                distribution: 'temurin'

            - name: Build with maven
              run: mvn clean package -DskipTests

            - name: Log in to Docker Hub
              uses: docker/login-action@v1
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PAT }}

            - name: Build and push Docker image
              run: |
                mvn compile jib:build